{% extends 'pwn/welcome.html' %}
{% block admin_welcome %}
    {% load static %}
<div class="col-sm-6">
          <h1></h1>
    </div>
{% if update %}
    <form action="{% url  'updatedstate' %}?sid={{ update.id }}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table align="center">
            <tr><th style="text-align: center;font-family: Arial;font-size: 35px;width: 100px;color: yellow;background-color: blue">State Page</th></tr>
        <tr><th style="text-align: center;font-family: Arial;font-size: 25px">State Update</th></tr>
        <tr>
            <th>
               NAME: <input type="text" value="{{ update.name }}" name="t1" required>
            </th>
            <tr>
            <th>
                PHOTO:<input type="file" value="{{ update.photo.url }}" required name="t2">
            </th>
        </tr>
            <tr>
            <th align="center"><button type="submit">Update</button></th>
        </tr>
    </table>
    </form>
    {% else %}
    <form action="{% url 'savestate' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table align="center" border="0">
     <tr><th style="text-align: center;font-family: Arial;font-size: 35px;width: 100px;color: yellow;background-color: blue">State Page</th></tr>
        <tr><th style="text-align: center;font-family: Arial;font-size: 25px">Add State</th></tr>
        <tr>
            <th>State:
                <input type="text" placeholder="State Name" name="t1" required>
            </th>
        </tr>
        <tr>
             <th>Photo:
                <input type="file" placeholder="Image" required name="t2">
             </th>
        </tr>
        <tr>
            <th><button type="submit">save</button></th>
        </tr>
    </tr>
        {% for x in messages %}
            <tr align="center">
                <th colspan="3" style="color:red;">{{ x }}</th>
            </tr>
        {% endfor %}
    </table>
</form>
    {% endif %}

    <table align="center" border="2" width="500px" style="text-align: center">
    <tr><th  colspan="5" style="background-color: red;color: yellow">View all</th></tr>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Photo</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        {% for x in data %}
            <tr>
                <th>{{x.id }}</th>
                <th>{{ x.name }}</th>
                <th><img src="{{ x.photo.url }}" width="40" height="40"></th>
                <th><a href="{% url 'updatestate' %}?id={{ x.id }}"><img src="{% static 'images/update.png' %}" height="20px" width="20px"></a> </th>
                <th>
                    <a href="{% url 'state_delete' %}?sid={{ x.id }}"><img src="{% static 'images/delete.png' %}" height="20px" width="20px"></a>
                </th>
            </tr>
        {% endfor %}
        </table>
{% endblock %}